/16_swap_sort_copy
/19_athlets
/20_stack_vector
/21_translator
/22_airport_counter
/23_text_editor
/25_josephus_permutation
/26_group_heavy_strings
/27_simple_vector_copy_assignment
/28_split_into_sentences
/29_simple_vector_2
/30_merge_sort_3
/31_priority_collection_2
/32_matrix_sum
/33_explore_key_words
/34_synchronized
/35_concurrent_map
/36_final
/111
